@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.register{
    display: flex;
    position: relative;
}
.registerpage{
}
.left-register{
    width:43vw;
    height:120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.register-logo{
    height:340px;
    margin-top:130px
}
.right-register{
    margin:20px;
}
.top-register img{
    width:70px;
}
.main-title{
    margin-top:50px;
    font-weight: bold;
    font-size: 70px;;
}
.secondary-title{
    margin-top:30px;
    font-size: 30px;
    font-weight: bold;
}
.register-btn{
    display: flex;
    margin-top:30px;
}
.register-btn p{
    background-color: #119AFB;
    padding: 10px 20px 10px;
    color:white;
    font-weight: bold;
    border-radius: 30px;
}
.subtitle-cgu{
    width:280px;
    font-size: 0.8rem;
}
.login{
  margin-top:70px;
  font-weight: bold;
  width:200px;
}
.login-btn{
  text-align: center;
  margin-top:20px;
  padding: 10px 40px 10px;
  color:#119AFB;
  border:1Px solid lightgray;
  font-weight: bold;
  border-radius: 30px;
}
.cursor{
  cursor:pointer
}
.register-form{
  display: flex;
  justify-content: center ;
  width:100%;
  height:120vh;
  position: absolute;
  z-index: 999;
  background-color: rgba(147, 147, 147, 0.297);
}


.form{
  padding:20px;
  margin-top:50px;
  height:80vh;
  width:50vw;
  border-radius: 20px;
  background-color: white !important;
  position: relative;
}
.top-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close{
  font-weight: bold;
  font-size:1.3rem;
  position: absolute;
  left:0;
}
.top-modal img{
  height:60px;
}
.middle-modal form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-title{
  font-weight: bold;
  font-size: 2rem;
}
.middle-modal input{
  width:70%;
  height:50px;
  margin-top:10px;
  border-radius: 5px;
  border:1px solid black;
}
.change-option{
  text-align: end;
  width:70%;
  color:#119AFB;
}
.bottom-modal{
  position: absolute;
  bottom:0;
  width:100%;
  left:0;
  height:80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top:3px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-modal input{
  background-color: #878a8c;
  padding: 10px 100px 10px;
  border-radius: 30px;
  /* text-align: center; */
  color:white;
  font-weight: bold;
  border:none;
}